<table>
    <thead>
        <tr>
            <th>N.</th>
            <th>Title</th>
            <th>Description</th>
            <th>Operations</th>
        </tr>
    </thead>


<tbody>
  {{#each tasks}}
<tr>
    <td>{{@index}}</td>
    <td>{{title}}</td>
      <td>{{description}}</td>
      <td>
      <button>Done</button>
      <a href="/edit">Update</a>
      <a href="/edit">Delete</a >
    </td>
  {{/each}}

</tr>

</tbody>
</table>